@page "/endereco"
@inject IJSRuntime Js;

<div class="container bg-light">
    <div class="row justify-content-center">
        <div class="card-header">Adicionar Endereço de Entrega</div>
        <div class="form-group">
            <label for="cep">CEP:</label><span class="text-danger">*</span>
            <input @oninput="()=>RetornaDadosCep_Input()" class="form-control" type="text" id="cep" @bind="endereco.Cep" required>
        </div>
        <div class="form-group">
            <label for="rua">Rua:</label><span class="text-danger">*</span>
            <input @bind="endereco.Rua" @oninput="UpdateRua" type="text" class="form-control" id="rua" required>
        </div>

        <div class="form-group">
            <label for="numero">Número:</label><span class="text-danger">*</span>
            <input type="text" class="form-control" id="numero" @bind="endereco.Numero" required>
        </div>

        <div class="form-group">
            <label for="complemento">Complemento:</label><span class="text-danger">*</span>
            <input type="text" class="form-control" id="complemento" @bind="endereco.Complemento">
        </div>

        <div class="form-group">
            <label for="bairro">Bairro:</label><span class="text-danger">*</span>
            <input type="text" class="form-control" id="bairro" @bind="endereco.Bairro" required>
        </div>

        <div class="form-group">
            <label for="cidade">Cidade:</label><span class="text-danger">*</span>
            <input type="text" class="form-control" id="cidade" @bind="endereco.Cidade" required>
        </div>

        <div class="form-group">
            <label for="estado">Estado:</label><span class="text-danger">*</span>
            <input type="text" class="form-control" id="estado" @bind="endereco.Estado" required>
        </div>

        <button class="btn btn-primary" @onclick ="SalvarEndereco">Salvar</button>
    </div>
</div>


@code {
    public EnderecoDto endereco { get; set; }
    private int? userId;
    private readonly Random _random = new Random();


    [Inject]
    public IGerenciaUsuarioEnderecoLocalStorageService GerenciaUsuarioEnderecoService { get; set; }

    [Inject]
    public IUsuarioEnderecoService UsuarioEnderecoService { get; set; }

    [Inject]
    public IEnderecoService EnderecoService { get; set; }


    protected override async Task OnInitializedAsync()
    {
        endereco = new EnderecoDto();

        userId = await GerenciaUsuarioEnderecoService.GetUserId();

        if (userId.HasValue)
        {
            var usuarioEndereco = await UsuarioEnderecoService.GetByIdUsuarioEndereco(userId);
            if (usuarioEndereco != null)
            {
                endereco.Cep = usuarioEndereco.Endereco.Cep;
                endereco.Rua = usuarioEndereco.Endereco.Rua;
                endereco.Numero = usuarioEndereco.Endereco.Numero;
                endereco.Bairro = usuarioEndereco.Endereco.Bairro;
                endereco.Cidade = usuarioEndereco.Endereco.Cidade;
                endereco.Estado = usuarioEndereco.Endereco.Estado;
                endereco.Complemento = usuarioEndereco.Endereco.Complemento;
            }
            else
            {
                endereco.Cep = string.Empty;
                endereco.Rua = string.Empty;
                endereco.Numero = string.Empty;
                endereco.Bairro = string.Empty;
                endereco.Cidade = string.Empty;
                endereco.Estado = string.Empty;
                endereco.Complemento = string.Empty;
            }
        }

    }

    private async void SalvarEndereco()
    {
        if (userId.HasValue)
        {
            Console.WriteLine($"CEP: {endereco.Cep}, Rua: {endereco.Rua}, Número: {endereco.Numero}, Bairro: {endereco.Bairro}, Cidade: {endereco.Cidade}, Estado: {endereco.Estado}");

            int novoId = GerarIdAleatorio();

            var enderecoSalvar = new EnderecoDto
                {
                    Id = novoId,
                    Cep = endereco.Cep,
                    Rua = endereco.Rua,
                    Numero = endereco.Numero,
                    Bairro = endereco.Bairro,
                    Cidade = endereco.Cidade,
                    Estado = endereco.Estado,
                    Complemento = endereco.Complemento
                };

            var enderecoDb = await EnderecoService.PostEndereco(enderecoSalvar);

            var usuarioEnd = new UsuarioEnderecoDto
                {
                    UsuarioId = userId.Value,
                    EnderecoId = enderecoDb.Id.Value
                };

            await UsuarioEnderecoService.PostUsuarioEndereco(usuarioEnd);

        }
    }

    public int GerarIdAleatorio()
    {
        return _random.Next(1, 1001);
    }

    private void UpdateRua(ChangeEventArgs e)
{
    endereco.Rua = e.Value.ToString();
}

    protected async Task RetornaDadosCep_Input()
    {
      //  await Js.InvokeVoidAsync("BuscaCep");
    }
}
