@page "/menuCliente"

@implements IDisposable
@inject ICarrinhoCompraService carrinhoCompraService
@inject UsuarioLogado UsuarioLogado

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (UsuarioLogado.UsuarioId == 0)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-person" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-person" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }
        
        @if (UsuarioLogado.UsuarioId != 0)
        {
            @if(UsuarioLogado.TipoUsuario != 0)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="endereco">
                        <span class="oi oi-map" aria-hidden="true"></span> Endereço
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="produtos">
                        <span class="oi oi-basket" aria-hidden="true"></span> Produtos
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="pedidos">
                        <span class="oi oi-cart" aria-hidden="true"></span> Pedidos
                    </NavLink>
                </div>
            }
            else
            {

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fechamentoFinanceiro">
                        <span class="oi oi-calculator" aria-hidden="true"></span> Fechamento Financ.
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="analiseDados">
                        <span class="oi oi-graph" aria-hidden="true"></span> Análise de Dados
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="taxaEntrega">
                        <span class="oi oi-map" aria-hidden="true"></span> Taxa de Entrega
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/pedidos">
                        <span class="oi oi-cart" aria-hidden="true"></span> Pedidos Admin
                    </NavLink>
                </div>
                
            }
        }
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;
    private int carrinhoCompraItemContador = 0;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public UsuarioDto usuarioDto { get; set; }

    [Inject]
    public NavigationManager? NavigationManager { get; set; }

    [Inject]
    public IUsuarioService? UsuarioService { get; set; }


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged += CarrinhoCompraChanged;

        if (UsuarioLogado.UsuarioId != 0)
        {
            if (UsuarioLogado.TipoUsuario == 0)
            {
                NavigationManager.NavigateTo("/admin/pedidos");
            }
            else
            {
                NavigationManager.NavigateTo("/produtos");
            }

        }
        ToggleNavMenu();
    }

    protected void CarrinhoCompraChanged(int totalQuantidade)
    {
        carrinhoCompraItemContador = totalQuantidade;
        carrinhoCompraService.GetItens(UsuarioLogado.UsuarioId);
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged -= CarrinhoCompraChanged;
    }
}
