@inherits LayoutComponentBase

@inject UsuarioLogado UsuarioLogado

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <MenuCliente />
    </div>

    <main>
        <div class="top-row px-4">
            <CarrinhoMenu></CarrinhoMenu>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
